/* General */

html{
    position: relative;
    min-height: 100%;
}
body{
    background-color: #2a2a2a;    
    color: white;
    margin-top: 70px;
    margin-bottom: 20%;
}

h1{
    color: yellowgreen;
    font-style: italic;
    font-weight: bold;
}

input[type="submit"]{

    border-radius: 10px;
    background: -webkit-linear-gradient(left,#3e779d, #65a9d7);
    box-shadow: 1px 1px 20px #FFF;

}    
input[type="submit"]:hover{
    background: #28597a;
    color: #ccc;
}
input[type="submit"]:active {    
    background: #1b435e;
}

input[type="text"]{
    background-color: black;
}
input[type="password"]{
    background-color: black;
}


.notification_success {
    background-color: green;
    color : white; 
    font-weight: bold;  
    width:25%;
    padding: 5px;
}
.notification_failed{
    background-color: red;
    color : white; 
    font-weight: bold;  
    width:25%;
    padding: 5px;
}
.jumbotron{
    border-radius: 25px;
    background: radial-gradient(whitesmoke, gray, black); 
}

/* Header 

.header {
    background-color: rgba(2,19,65,0.8);    
    font-family: "Times New Roman", Times, serif;     
    padding-top: 1px;
    height: 60px;
    box-shadow: 5px 5px 5px rgb(59,63,74);

}
*/
/* Menu */ 

.menu{     
    padding-top:20px;   
}

.menu a {
    color: yellowgreen;
    font-size:20px;
}

.sidebarmenu{
    padding-top: 20px;
}

.sidebarmenu a{
    color: yellowgreen;
    font-size: 20px;
}

.icontitle{          
    color: #FFF; 
    font-size:36px;
    font-family: Arial, Helvetica, sans-serif;
    display:inline-block;
}
.icontitle img{
    height:50px;
    width: 50px;
    border : 3px solid;
    border-color: black;
    border-radius: 25px;
}


icontitle img,h1{
    display:inline;
}


.header .menu > li {
    display: inline;  
    padding-left: 20px;
    padding-right: 20px;  
}



.footer ul{
    list-style: none;       
}


/* Footer */

footer{
    position: absolute;
    background-color: #222;  
    font-family: "Times New Roman", Times, serif;         
    width:100%; 
    bottom : 0;
    left:0;     
    height: auto;
}

footer a{
    color : #9d9d9d;
}
.footer_content{
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}

/* table */

.table-album{     
    margin:auto;

}
.table-album *{
    font-size: 23px;
    background-color: rgba(2,19,65,0.8);    
}
.table-album > thead > tr > th{   
    color: yellowgreen;    
}
.table-album > tbody > tr > td{
    padding-right: 20px;
}

.table-album caption{
    color: yellowgreen;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
}
.table-album > tbody {
}


input[type="button"]{

    border-radius: 10px;
    background: -webkit-linear-gradient(left,#3e779d, #65a9d7);
    box-shadow: 1px 1px 20px #FFF;

}    
input[type="button"]:hover{
    background: #28597a;
    color: #ccc;
}
input[type="button"]:active {    
    background: #1b435e;
}


.carousel-inner img {
    width: 100%; /* Set width to 100% */
    min-height: 200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none; 
    }
}

.navbar{
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 0.85;
    border-color : rgba(34,34,34,0.85);
}

.dropdown-menu > li{
    background-color: #222;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus{
    color : #9d9d9d;


}

.navbar-brand{
    font-size : 24px;
    font-family: cursive;
}

.container-nav{
    padding-right: 0;
    padding-left: 0;
}

#loginForm {
    padding-top: 5%;
}

.item{
    height : 590px;
}
.item img{        
    height: auto;
    max-height: 100%;   
}

